.commentorm {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

textarea {
  width: 100%;
  font-size: 20px;
}

.commentError {
  font-size: 16px;
  color: firebrick;
  margin-bottom: 0.5em;
}
