.commentitem {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f8f8f8;
}

.commentitemmain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.commentitemmain > div {
  margin-right: 0.5em;
}

.commentitemmeta {
  font-style: italic;
}
