.posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em;
  width: 100%;
}

.postheader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.postsort {
  display: flex;
  justify-content: flex-end;
}

ul {
  margin-top: 0;
  list-style: none;
}
