.categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em;
  border-right: 1px solid #e0e0e0;
}

.categoriestitle {
  margin-bottom: 1em;
}

ul {
  margin-top: 0;
  list-style: none;
}

.categorieslink {
  color: #3399ff;
}
