.showpost {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 1em;
  background-color: #f8f8f8;
}

.showpostheader {
  display: flex;
  flex-direction: row;
}

.showpostheader > div {
  margin-right: 0.5em;
}

.showpostheader > div:nth-child(2) {
  margin-left: auto;
}

.showpostnav {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.showpostnav > div {
  margin-right: 0.5em;
}

.showpostnav > div:nth-child(2) {
  margin-left: auto;
}
